<ngx-row-accordion title="Page 3 title" group="great-accordions-group">
  Page 3 content

  <p>
    <a routerLink="/app/accordions/page1/page2">Come back to page 2</a>
  </p>

  Pariatur nisi consequat exercitation enim aliqua in labore ullamco nisi ad aliqua. Incididunt laborum sit exercitation dolore.
  Incididunt occaecat fugiat veniam duis occaecat dolore esse. Do quis est nisi nulla aute. Proident aliquip Lorem ad qui
  esse aliqua consequat aliqua dolor eu esse sint incididunt est. Lorem veniam nostrud dolore id nostrud labore labore. Excepteur
  culpa nisi sit eiusmod officia deserunt officia incididunt velit aute sint cillum ex fugiat. Aliquip incididunt dolor eiusmod
  labore do ea aute mollit voluptate laborum. In aliquip labore eu incididunt. Cillum consectetur sint enim ex nulla. Et
</ngx-row-accordion>
