<div fxLayout="row">
  <div fxFlex>
    <h1>Main route</h1>
    <button routerLink="app/accordions/page1" type="button" data-go-to-page-1-primary>
      Go to first primary outlet
    </button>

    <button routerLink="app/accordions" type="button" data-close-all-primary>
      Close all (primary outlet)
    </button>
  </div>

  <div fxFlex>
    <h1>Aux route</h1>
    <button [routerLink]="[{outlets: {'aux': ['auxiliary-route', 'accordions', 'page4']}}]" type="button" data-go-to-page-4-aux>
      Go to first auxiliary outlet
    </button>

    <button [routerLink]="[{outlets: {'aux': null}}]" data-close-all-aux>
      Close all (auxiliary outlet)
    </button>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex>
    <router-outlet></router-outlet>
  </div>

  <div fxFlex>
    <router-outlet name="aux"></router-outlet>
  </div>
</div>
