ngx-row-accordion .ngx-row-accordion {
  display: inline-block;
  height: 100%;
}

ngx-row-accordion .ngx-row-accordion .title {
  padding: 16px;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  background-color: #d8d8d8;
  cursor: pointer;
  user-select: none;
}

ngx-row-accordion .ngx-row-accordion .body {
  padding: 16px;
  background-color: #f3f3f3;
  overflow: auto;
}
