<ngx-row-accordion title="Page 5 title" group="awesome-accordions-group">
  Page 5 content

  <p>
    <a routerLink="page6">Open page 6</a>
  </p>

  <p>
    <a routerLink="/accordions/page4">Come back to page 4</a>
  </p>

  Pariatur nisi consequat exercitation enim aliqua in labore ullamco nisi ad aliqua. Incididunt laborum sit exercitation dolore.
  Incididunt occaecat fugiat veniam duis occaecat dolore esse. Do quis est nisi nulla aute. Proident aliquip Lorem ad qui
  esse aliqua consequat aliqua dolor eu esse sint incididunt est. Lorem veniam nostrud dolore id nostrud labore labore. Excepteur
  culpa nisi sit eiusmod officia deserunt officia incididunt velit aute sint cillum ex fugiat. Aliquip incididunt dolor eiusmod
  labore do ea aute mollit voluptate laborum. In aliquip labore eu incididunt. Cillum consectetur sint enim ex nulla. Et
  duis dolor excepteur qui fugiat labore et officia amet reprehenderit aliquip fugiat nostrud. Sit quis eu ad ipsum aute
  occaecat. Exercitation ad aliqua sunt ut voluptate eiusmod anim. Est do incididunt magna mollit amet. Ullamco ipsum id
  velit duis officia enim pariatur commodo ullamco duis sit occaecat ad amet. Magna nulla excepteur eiusmod et magna commodo.
  Laborum culpa minim velit tempor consectetur reprehenderit nulla ullamco adipisicing amet laboris irure. Deserunt quis
  anim minim enim dolore minim esse amet. Ex voluptate tempor officia commodo aute velit dolor commodo. Cupidatat magna fugiat
</ngx-row-accordion>

